body {
    margin: 0;
    background-color: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 20;
}

h3 {
    color: #EEEEEE;
    font-family: Verdana;
    font-size: 35;
}

h1 {
    color: #EEEEEE;
    font-family: Verdana;
    text-align: center;
    margin-top: 35px;
}

.block1 {
    background-color: #080001;
    width: 120;
    text-align: center;
}

span {
    color: #F94F6D;
    font-family: Cursed Timer ULiL;
    font-size: 90px;
    font-weight: 400;
    text-align: center;

}

.add {
    margin-top: 20px;
    margin-left: 10px;
}

.styl {
    background-color: #1B244A;
    border: 2px solid #9AABD8;
    width: 32px;
    height: 26px;
    font-family: Cursed Timer ULiL;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #9AABD8;

}

.midle {
 text-align: center;
 margin-top: 20;
}

.btn {
    font-size: 20px;
    background-color: #1B244A;
    border: 2px solid #9AABD8;
    font-family: Cursed Timer ULiL;
    text-align: center;
    color: #9AABD8;
}